@font-face {
  font-family: "Jabin";
  src: url('./fonts/Jabin-Regular.ttf');
}

.container {
  width: 280px;
  color: #314d3e;
}

.select_schedule {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.days_of_week{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr, 7);
  font-family: "Almendra Display", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1rem;
  cursor: pointer;
}

#fuck_timesheet{
  font-size: 2rem;
  background: linear-gradient(90deg, #EEACFF, #A0C1FF, #ABFFC3, #FFFA76, #FF0000);
  background-clip: text;
  color: transparent;
  font-family: "Jabin";
}

#save{
  position: absolute;
  padding: 1rem;
  right: 0;
  bottom: 0;
}

.selected{
  border-right: solid 1px black;
  background-color: azure;
}

.added_time{
  border-bottom: solid 1px black;
  padding-bottom: 1rem;
}